.by {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #747474;
  a {
    color: #747474;
    text-decoration: underline;
  }
}

.text {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;

  pre {
    white-space: pre-wrap;
  }
}

.commentChildren {
  padding-left: 1rem;
  border-left: 2px solid #eee;
}

.comment {
  list-style: none;
}
