.by {
  font-size: 0.9rem;
  margin: 1em 0;
  color: #828282;
  a {
    color: #828282;
    text-decoration: underline;
  }
}

.text {
  font-size: 0.9rem;
  margin: 1em 0;
  overflow-wrap: break-word;

  pre {
    white-space: pre-wrap;
  }
}

.commentChildren {
  margin-left: 1rem;
}

.comment {
  border-top: 1px solid #eee;
  position: relative;
  list-style: none;
}
