.storyWrapper {
  display: flex;
  align-items: center;
  padding: 20px 30px 20px 0px;
  border-top: 1px solid #eee;
  &:first-of-type {
    border-top: 0;
  }
  &:last-of-type {
    border-bottom: 1px solid #eee;
  }
}

.storyTitle {
  a {
    padding: 0.3rem 0.3rem 0.3rem 0;
  }
  color: #2d4055;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  text-decoration: none;
  width: fit-content;
}

.storyMeta {
  font-size: 13px;
  color: #3d3d3d;
  width: fit-content;
  padding: 0.3rem 0.3rem 0.3rem 0;
  span:first-child {
    margin-right: 2px;
  }
  span:not(:first-child):before {
    font-style: normal;
    content: '•';
    margin: 0 7px;
  }
}

.texts {
  flex: 8;
}

.scores {
  display: flex;
  flex: 1;
  padding: 1.8rem;
  justify-content: center;
  align-items: center;
  span {
    color: #3d3d3d;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
  }
}
