.storyWrapper {
  display: flex;
  align-items: center;
  padding: 15px 25px 15px 0px;
  border-top: 1px solid #eee;
  background-color: #fff;
  max-width: 860px;
  margin: 0 auto;
  &:first-of-type {
    border-top: 0;
  }
  &:last-child {
    border-bottom: 1px solid #eee;
  }
}

.storyTitle {
  a {
    padding: 0.3rem 0.3rem 0.3rem 0;
  }
  color: #2d4055;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
  margin: 0;
  text-decoration: none;
  width: fit-content;
}

.storyMeta {
  font-size: 0.8em;
  color: #696969;
  width: fit-content;
  padding: 0.3rem 0.3rem 0.3rem 0;
  span:not(:first-child):before {
    font-style: normal;
    content: '|';
    margin: 0 4px;
  }
}

.comments {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    color: #0f4481;
  }
}

.texts {
  flex: 8;
}

.scores {
  display: flex;
  flex: 1;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  span {
    color: #3d3d3d;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
  }
}
