.header {
  background-color: #fff;
  max-width: 860px;
  margin: 25px auto;
  padding-bottom: 65px;
}

.commentsHeader {
  background-color: #fff;
  max-width: 860px;
  margin: 25px auto;
  padding-bottom: 0px;
}

.section {
  &:last-child {
    margin-bottom: 25px;
  }
}
